body{
   
    background-color: #ffbbbb;
    background-size: cover;  
}

.bg-image {
    /* The image used */
    background-image: url("../images/aa.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
.product-grid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 4px solid white;
    margin-top: 184px;
}

.product-grid:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.product-grid:hover:before{
    background-color: rgba(0, 0, 0, 75);
}

.product-grid .product-image{
    overflow: hidden;
    position: relative;
}

.product-grid .product-image a{
    display: block;
}

.product-grid .product-image img{
    width: 70%;
    height: auto;
}

.product-discount-label{
    color: white;
    background-color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 12px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.product-grid .social{
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}

.product-grid .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
}

.product-grid .social li:nth-child(2){
    transition: 0.05s;
}

.product-grid .social li:nth-child(3){
    transition: 0.13s;
}

.product-grid .social li:nth-child(4){
    transition: 0.05s;
}

.product-grid .social li:nth-child(5){
    transition: 0.05s;
}

.product-grid .social li:nth-child(6){
    transition: 0.13s;
}

.product-grid .social li:nth-child(7){
    transition: 0.05s;
}

.product-grid .social li:nth-child(8){
    transition: 0.05s;
}

.product-grid .social li:nth-child(9){
    transition: 0.17s;
}

.product-grid:hover .social li{
    opacity: 1;
    transform: translateY(0);
}

.product-grid .social li a{
    color: #000;
    background-color: #ffbbbb;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

.product-grid .social li a:hover{
    color: white;
    background-color: #3e1e68;
}

.product-grid .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;
}

.product-grid .title{
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.product-grid .title a{
    color: #000;
}

.product-grid .title a:hover{
    color: #ffbbbb;
}

.product-grid .price{
    color:#fa8231;
}

.product-image{
    height: 200px;
    width: 100%;
    
}

.product-image img{
    width: 100%;
    height: auto;
}
a{
  
    color: #3e1e68  !important;
}
a:hover{
  
    color: #ffbbbb !important;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      color:#ffbbbb ;
  }
  
  .fa-eye {
    background: transparent;
    color: white;
  }
  
  .fa-heart {
    background:transparent;
    color: white;
  }
  
  .fa-shopping-cart {
    background: transparent;
    color: white;
  }
  
  .fa-random {
    background: transparent;
    color: white;
  }
.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
  .cart a {
      background-color:#ffbbbb;
      color:#3e1e68;
      cursor: pointer;
      text-decoration: none;
  }