image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image: